#container {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    
}

body {
    background-image: url("./images/dbzbackground.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
    font-size: 1.4em;
    font-weight: bold;
}

img {
    max-width:200%;
    max-height:200%;
}