.container {
    text-align: center;
    margin: 0 auto;
}

body {
    background-image: url("./images/dbzbackground.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
    font-size: 1.4em;
    font-weight: bold;
}
img {
    width: 400px;
}

#character {
    font-size: 2em;
}

#pic {
    padding:30px;
}

h1 {
    font-size:3em;
}

#powerlevel {
    color: red;
}

span {
    font-size:1.5em;
}

div {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#heading {
    text-transform: uppercase;
    padding-bottom: 0px;
}

#generator {
    color: orange;
}

h2 {
    text-transform: uppercase;
}

.possibility {
    font-style: italic;
}

.number{
    text-decoration: underline;
}

.power {
    color:gold;
}